<h2 class="hidden-md hidden-lg">Meer info</h2>
<nav>
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#">Sub menu item 1</a>
        </li>
        <li class="active">
            <a href="#">Sub menu item 2</a>
        </li>
        <li>
            <a href="#">Sub menu item 3</a>
        </li>
    </ul>
</nav>