#set( $list = $navtool.getNav($request.requestURI))

#if ($list.children.size() > 0)
    <h2 class="hidden-md hidden-lg">Meer info</h2>
    <nav>
        <ul class="nav nav-pills nav-stacked">
            #foreach($n in $list)
                <li #if($n.active)class="active"#end >
                    <a href="${n.href}">${n.title}</a>
                </li>
            #end
        </ul>
    </nav>
#end