{% extends "_dev/templates/1-col-left.twig" %}

{% block content1 %}
    <h1>Kalender archief</h1>
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="list-group">
        <a href="calendar-detail.php" class="list-group-item">
            <div class="row">
                <div class="col-xs-8">
                    <img class="list-group-item-thumbnail" src="/global/images/test/news/fruits.jpg" width="80" alt="Lorem ipsum">
                </div>
                <div class="col-xs-16">
                    <div class="small">2016-08-30</div>
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet.</p>
                </div>
            </div>
        </a>
        <a href="calendar-detail.php" class="list-group-item">
            <div class="row">
                <div class="col-xs-8">
                    <img class="list-group-item-thumbnail" src="/global/images/test/news/fruits.jpg" width="80" alt="Lorem ipsum">
                </div>
                <div class="col-xs-16">
                    <div class="small">2016-08-30</div>
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet.</p>
                </div>
            </div>
        </a>
        <a href="calendar-detail.php" class="list-group-item">
            <div class="row">
                <div class="col-xs-8">
                    <img class="list-group-item-thumbnail" src="/global/images/test/news/fruits.jpg" width="80" alt="Lorem ipsum">
                </div>
                <div class="col-xs-16">
                    <div class="small">2016-08-30</div>
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet.</p>
                </div>
            </div>
        </a>
    </div>

    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}
