{% extends "_dev/templates/homepage.twig" %}

{% block content1 %}

    <div ng-app="gififyApp">
        <gifify letters="STARWARZ">{{text}}</gifify>
    </div>



{% endblock %}

{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}

{% block content4 %}
{% endblock %}

{% block content5 %}
{% endblock %}