{% extends "_dev/templates/1-col-left.twig" %}

{% block content1 %}
    <div class="row equal-height-row-sm">
        <div class="col-sm-8">
            <div class="equal-height-body">
                <h2>Some content</h2>
                <p>The .equal-height-footer footer has a fixed height.</p>
            </div>

            <div class="equal-height-footer">
                <a href="#" class="btn btn-default">More info</a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="equal-height-body">
                <h2>Lorem ipsum dolor set amet</h2>
                <p>when using .equal-height-row-xx, the columns no longer float and thus .col-xx-offset, .col-xx-pull and col-xx-push cannot be used anymore</p>
                <p>Columns must add up to completely fill the width ($grid-columns), otherwise the .equal-height-row-xx will not be full width</p>
            </div>

            <div class="equal-height-footer">
                <a href="#" class="btn btn-default">More info</a>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="equal-height-body">
                <h2>Lorem ipsum dolor set amet</h2>
                <p>Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
            </div>

            <div class="equal-height-footer">
                <a href="#" class="btn btn-default">More info</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h1>This is a normal row with columns</h1>
            <p>This is a normal row with columns Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
        </div>
        <div class="col-md-6">
            <h1>This is a normal row with columns</h1>
            <p>This is a normal row with columns Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
        </div>
        <div class="col-md-6">
            <h1>This is a normal row with columns</h1>
            <p>This is a normal row with columns Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
        </div>
        <div class="col-md-6">
            <h1>This is a normal row with columns</h1>
            <p>This is a normal row with columns Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
        </div>
    </div>

<div class="row">
    <div class="col-md-18">
        <div class="row equal-height-row-sm">

            <div class="col-sm-8">
                <div class="equal-height-body">
                    <h2>Equal height column</h2>
                    <p>The .equal-height-footer footer has a fixed height.</p>
                </div>

                <div class="equal-height-footer">
                    <a href="#" class="btn btn-default">More info</a>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="equal-height-body">
                    <h2>Equal height column</h2>
                    <p>when using .equal-height-row-xx, the columns no longer float and thus .col-xx-offset, .col-xx-pull and col-xx-push cannot be used anymore</p>
                    <p>Columns must add up to completely fill the width ($grid-columns), otherwise the .equal-height-row-xx will not be full width</p>
                </div>

                <div class="equal-height-footer">
                    <a href="#" class="btn btn-default">More info</a>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="equal-height-body">
                    <h2>Equal height column</h2>
                    <p>Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales. Praesent proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
                </div>

                <div class="equal-height-footer">
                    <a href="#" class="btn btn-default">More info</a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <h2>Normal column, outside of .equal-height-row-sm</h2>
        <p>when using .equal-height-row-xx, the columns no longer float and thus .col-xx-offset, .col-xx-pull and col-xx-push cannot be used anymore</p>
        <p>Columns must add up to completely fill the width ($grid-columns), otherwise the .equal-height-row-xx will not be full width</p>
    </div>

{% endblock %}

{% block content2 %}
    {% include '_dev/containers/menu-aside.twig' %}
{% endblock %}

{% block jsBodyExtra %}

{% endblock %}