{% extends "_dev/templates/1-col-left.twig" %}

{% block content1 %}
    <h1>Header 1</h1>
    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>
    <h2>Header 2</h2>
    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>
    <h3>Header 3</h3>
    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>
    <h4>Header 4</h4>
    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>
    <h5>Header 5</h5>
    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>
    <h6>Header 6</h6>
    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>

    <p>
        Lorem ipsum dolor sit amet, <a href="">Link</a>. In eleifend, dui a <strong>strong text</strong> fringilla nunc, <em>emphasized</em> in magna. Pellentesque eget ligula orci. Maecenas lectus odio, venenatis sed enim ut, euismod pellentesque augue. Cras in tellus a sapien consequat pharetra eu ut arcu. Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>


    <hr>

    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>

    <ul>
        <li>
            Lorem ipsum dolor sit amet
        </li>
        <li>
            Lorem ipsum dolor sit amet
        </li>
        <li>
            Lorem ipsum dolor sit amet
        </li>
        <li>
            Lorem ipsum dolor sit amet
        </li>
    </ul>

    <p>
        Mauris eros est, posuere vitae diam nec, facilisis malesuada urna. Suspendisse potenti. Vestibulum eu magna hendrerit, bibendum lacus a, tincidunt erat. Donec mattis erat ut lectus laoreet, et varius nisl pellentesque.
    </p>

    <ol>
        <li>
            Lorem ipsum dolor sit amet
        </li>
        <li>
            Lorem ipsum dolor sit amet
        </li>
        <li>
            Lorem ipsum dolor sit amet
        </li>
        <li>
            Lorem ipsum dolor sit amet
        </li>
    </ol>



    <table class="table">
        <tr>
            <th>table Heading</th>
            <th>table Heading</th>
        </tr>
        <tr>
            <td>table data</td>
            <td>table data</td>
        </tr>
        <tr>
            <td>table data</td>
            <td>table data</td>
        </tr>
        <tr>
            <td>table data</td>
            <td>table data</td>
        </tr>
        <tr>
            <td>table data</td>
            <td>table data</td>
        </tr>
    </table>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
                <th>table header</th>
            </tr>
            <tr>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
            </tr>
            <tr>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
            </tr>
            <tr>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
            </tr>
            <tr>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
                <td>table data</td>
            </tr>
        </table>
    </div>

    <h1>Buttons</h1>
    <h2>Block buttons</h2>
    <a href="#" class="btn btn-default btn-block">Default button</a>
    <a href="#" class="btn btn-default btn-block" disabled="disabled">Default button disabled</a>

    <a href="#" class="btn btn-primary btn-block">Primary button</a>
    <a href="#" class="btn btn-primary btn-block" disabled="disabled">Primary button disabled</a>

    <a href="#" class="btn btn-link btn-block">Link button</a>
    <a href="#" class="btn btn-link btn-block" disabled="disabled">Link button disabled</a>

    <h2>Inline buttons</h2>
    <a href="#" class="btn btn-default">Login</a>
    <a href="#" class="btn btn-default" disabled="disabled">Disabled</a>

    <a href="#" class="btn btn-primary">Choose plan</a>
    <a href="#" class="btn btn-primary" disabled="disabled">Disabled</a>

    <a href="#" class="btn btn-link">Some link</a>
    <a href="#" class="btn btn-link" disabled="disabled">Some link</a>

    <h2>Icon buttons</h2>
    <a href="#" class="btn btn-default"><i class="icon-house"></i></a>
    <button class="btn btn-default">
        <i class="icon-search"></i>
    </button>
    <a href="#" class="btn btn-default"><i class="icon-search"></i> Search</a>
    <a href="#" class="btn btn-default"><i class="icon-house"></i> Home</a>



    <h1>Alerts</h1>
    <div class="alert alert-danger">
        <p>Lorem ipsum dolor set amet</p>
    </div>

    <div class="alert alert-warning">
        <p>Lorem ipsum dolor set amet</p>
    </div>

    <div class="alert alert-info">
        <p>Lorem ipsum dolor set amet</p>
    </div>
{% endblock %}

{% block content2 %}
    {% include '_dev/containers/menu-aside.twig' %}
{% endblock %}