{% extends "_dev/templates/1-col-left.twig" %}

{% block content1 %}

    <h1>Links</h1>
    <p>Byssuss accelerare in dexter lentia!</p>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/microsoft.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>luna persuaderes, tanquam grandis sectam. flavum, brevis fraticinidas vix experientia de regius, lotus silva. </p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/google.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>equisos manducare in cella! alter, flavum vigils aegre aperto de camerarius, salvus omnia.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/amazon.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>equisos manducare in cella! alter, flavum vigils aegre aperto de camerarius, salvus omnia.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/ebay.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>equisos manducare in cella! alter, flavum vigils aegre aperto de camerarius, salvus omnia.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/facebook.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>historia de superbus lura, vitare fortis! solitudos sunt tumultumques de barbatus accola.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/tencent.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>cum barcas crescere, omnes adgiumes captis magnum, clemens solitudoes.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/rakuten.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>potus interdum ducunt ad secundus rumor. manducare velox ducunt ad domesticus racana.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>

    <div class="thumbnail">
        <a href="#" target="_blank"><img src="/global/images/test/links/yahoo.png" alt="Link title"></a>
        <div class="caption">
            <h3>Link title</h3>
            <p>burguss accelerare! cum genetrix messis, omnes orgiaes promissio grandis, fortis adelphises.</p>
            <p><a href="#" target="_blank">Visit website</a></p>
        </div>
    </div>
{% endblock %}

{% block content2 %}
{% endblock %}

{% block jsBodyExtra %}
{% endblock %}