{% extends "_dev/templates/1-col-left.twig" %}

{% block content1 %}
    <div class="news-detail">
        <div class="small">2016-08-30</div>
        <h1>Nieuwsbericht 1</h1>
        <div class="message">
            <p class="lead">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
            <img src="/global/images/test/news/fruits.jpg" class="img-responsive" alt="Responsive image">
            <p>Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Proin mattis eget felis non adipiscing. In feugiat iaculis arcu et sodales.</p>
            <p>Mauris id consectetur arcu, vel blandit risus. Fusce sit amet sodales purus. Mauris id gravida neque. Sed suscipit sapien ut aliquet gravida.</p>
        </div>

    </div>
{% endblock %}