{% extends "_dev/templates/1-col-left.twig" %}

{% block content1 %}
    <h1>Zoekresultaten</h1>

    <p>Er zijn 18 resultaten gevonden voor "searchterm".</p>

    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="list-group">
        <a href="news-detail.php" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Dexter, neuter mensas rare perdere de barbatus, fatalis medicina.</p>
        </a>
        <a href="news-detail.php" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Ecce, alter tabes! Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Ecce, alter tabes!</p>
        </a>
        <a href="news-detail.php" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Dexter, neuter mensas rare perdere de barbatus, fatalis medicina.</p>
        </a>
        <a href="news-detail.php" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Ecce, alter tabes! Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Ecce, alter tabes!</p>
        </a>
        <a href="news-detail.php" class="list-group-item">
            <h3 class="list-group-item-heading">List group item heading</h3>
            <p class="list-group-item-text">Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Ecce, alter tabes! Praesent tempus lobortis nibh, mollis luctus risus fringilla sit amet. Ecce, alter tabes!</p>
        </a>
    </div>

    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}

{% block content2 %}
{% endblock %}

{% block jsBodyExtra %}
{% endblock %}