#if($UtilMethods.isSet($URLMapContent))	#editContentlet($URLMapContent.inode)	<div class="news-detail">		<div class="small">$date.format('dd-MM-yyyy', $!URLMapContent.eventDate)</div>		<h1>$!esc.html($!{URLMapContent.header})</h1>		<div class="message">            #if($UtilMethods.isSet(${URLMapContent.introduction}))		        <p class="lead">$!{URLMapContent.introduction}</p>		    #end		    #if(${URLMapContent.image.size})		        <img class="img-responsive" src="$URLMapContent.image.rawUri"  alt="$!esc.html($!{URLMapContent.header})"/>            #end			$!{URLMapContent.body}		</div>	</div>#else	<p>Nieuwsitem niet gevonden...</p>#end